<div class="is-auth">
  <form novalidate #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)" >
    <div class="form-heading">
      <h1>INMOBILIARIA TECHO</h1>
    </div>
    <div class="form-body">
      <p class="text-center">Llene con su nueva clave</p>
      <div class="form-group has-feedback">
        <input [(ngModel)]="password" name="password" class="input-field" type="password" class="form-control">
        <span class="fa fa-lock form-control-feedback text-muted"></span>
      </div>
      <button [disabled]="requesting" type="submit" class="btn btn-block btn-danger">
        Reiniciar<i *ngIf="requesting" class="fa fa-spinner fa-pulse fa-fw"></i>
      </button>
      <p *ngIf="errorMessage" class="pt-lg text-center text-danger">
        {{errorMessage}}
      </p>
      <p *ngIf="successMessage" class="pt-lg text-center text-success">
        Reinicio satisfactorio. Ppor favor <a style="text-decoration: underline" routerLink="/signin">signin</a> again
      </p>
    </div>
  </form>
</div>